---
title: Campaña
layout: default
header:
  c-title: '#Stoptortura'
iter_2: [1,2]
iter_3: [1,2,3]
---
<div class="image-header--sunken image-header-sunken-spaced image-header--has-credits-sm">
  <div class="responsive--bg lazyload" data-bgset="https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1472_42, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1472_42_hi 2x [(min-width: 1272px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1224_42, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1224_42_hi 2x [(min-width: 1040px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1039_52, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1039_52_hi 2x [(min-width: 840px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_839_52, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_839_52_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_639_72, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_639_72_hi 2x [(min-width: 480px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_479_102, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_479_102_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_345_102, https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_345_102_hi 2x"></div>
  <noscript>
    <img src="https://www.amnesty.org/media/patternlibrary/landingpagecountries.jpg?preset=fixed_1472_42" alt="" class="responsive__img">
  </noscript>
  <div class="image-header__content image-header__content--thin">
    <h1 class="image-headline__sunken-title">
      <span class="heading--tape--dark">
        #StopTortura
      </span>
    </h1>
  </div>
</div>
<div class="image-header-nav">
  <div class="image-header-nav__content">
    {{partial 'ai-nav3'}}
  </div>
</div>

<div class="ai-breadcrumbs-container">
  {{partial 'ai-breadcrumbs'}}
</div>
<div class="container container--padded-vertical">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">

      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus urna leo, fermentum vel justo non, pretium accumsan ligula. Cras non feugiat sem. Donec ut maximus quam. Integer pulvinar nec felis id varius. Morbi ac mauris viverra, porttitor nibh sed, dictum libero. Nulla condimentum libero vitae felis accumsan tincidunt. Vivamus augue tortor, posuere ultricies sem eu, iaculis dapibus erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer nisl sapien, dictum a mi vitae, fermentum porta nunc.
      </p>

      <p>
      Nullam congue eu orci ut lacinia. Integer vel lectus diam. Nam eget lectus et ante condimentum egestas nec vitae tortor. In in vulputate ante, in consequat nunc. Proin consequat fringilla mi, at bibendum ligula elementum eleifend. Ut bibendum ligula leo, sodales vestibulum augue viverra sed. Cras euismod nibh odio, ut congue nisi hendrerit vitae. Etiam lacinia sagittis dignissim. Fusce ut eros congue, aliquet lectus a, tristique lectus. Mauris hendrerit, quam ut convallis molestie, nulla nisi imperdiet ante, sed condimentum lacus leo nec metus. Nam efficitur neque sed turpis ornare, nec mattis quam facilisis. Praesent egestas, enim et facilisis pharetra, lorem sem dapibus odio, dignissim finibus dui odio eget dui. Pellentesque vel odio venenatis, blandit risus in, mollis elit. Suspendisse vehicula laoreet tincidunt. Vestibulum pretium ligula sit amet augue commodo, ut porttitor ligula interdum.
      </p>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      {{partial 'quote'}}
    </div>
  </div>
</div>

{{partial 'image-block--full-screen-content'}}

<div class="container container--padded-vertical">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <p class="h2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus urna leo, fermentum vel justo non, pretium accumsan ligula. Cras non feugiat sem. Donec ut maximus quam. Integer pulvinar nec felis id varius. Morbi ac mauris viverra, porttitor nibh sed, dictum libero.
      </p>

      <p>
      Nullam congue eu orci ut lacinia. Integer vel lectus diam. Nam eget lectus et ante condimentum egestas nec vitae tortor. In in vulputate ante, in consequat nunc. Proin consequat fringilla mi, at bibendum ligula elementum eleifend. Ut bibendum ligula leo, sodales vestibulum augue viverra sed. Cras euismod nibh odio, ut congue nisi hendrerit vitae. Etiam lacinia sagittis dignissim. Fusce ut eros congue, aliquet lectus a, tristique lectus. Mauris hendrerit, quam ut convallis molestie, nulla nisi imperdiet ante, sed condimentum lacus leo nec metus. Nam efficitur neque sed turpis ornare, nec mattis quam facilisis. Praesent egestas, enim et facilisis pharetra, lorem sem dapibus odio, dignissim finibus dui odio eget dui. Pellentesque vel odio venenatis, blandit risus in, mollis elit. Suspendisse vehicula laoreet tincidunt. Vestibulum pretium ligula sit amet augue commodo, ut porttitor ligula interdum.
      </p>

      <p>
      Nullam vehicula tortor tellus, a interdum lorem lobortis sed. Integer bibendum arcu nec elit dapibus, non feugiat odio gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque pretium enim nec quam dictum interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean diam nisi, finibus ac lacus nec, bibendum congue magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eget placerat nisi.
      </p>

      <p>
      Aliquam dapibus feugiat elit, sit amet facilisis leo egestas id. Aliquam nibh nisl, euismod vitae mauris sit amet, mollis fringilla velit. Mauris et tempus arcu, at bibendum arcu. Phasellus elementum urna sed dolor finibus, rhoncus gravida dui sagittis. Duis volutpat scelerisque nisi, quis lacinia massa vehicula sed. Proin a metus quis eros tempor finibus. Proin tempus venenatis risus. Nulla dictum vestibulum dictum. Integer consectetur tristique libero, eget sollicitudin enim placerat eget. Sed non arcu sed eros imperdiet facilisis.
      </p>

      <p>
      Praesent vel mollis risus, at feugiat risus. Vestibulum id efficitur magna, efficitur dignissim augue. Aenean quis neque sit amet urna feugiat faucibus. Curabitur mauris ante, consequat a blandit vitae, rhoncus sed mauris. Cras dui sapien, ullamcorper ac consectetur sit amet, suscipit eu urna. Vivamus vel ex cursus, blandit metus vehicula, vulputate odio. Aenean auctor felis nisl, et consequat ante finibus semper. Suspendisse dapibus quam eu lectus luctus tincidunt. Donec at sapien nec mauris tincidunt egestas. Vestibulum dignissim a lorem eu finibus. In a ex velit.
      </p>
    </div>

    <div class="col-md-3">
      <div class="col__content">
        <div class="col__content--right print-hidden">
          {{partial 'recently-added'}}
        </div>
      </div>
    </div>
  </div>
</div>

{{partial 'image-block--full-screen-content'}}

<div class="container container--padded-vertical">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      <p class="h2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus urna leo, fermentum vel justo non, pretium accumsan ligula. Cras non feugiat sem. Donec ut maximus quam. Integer pulvinar nec felis id varius. Morbi ac mauris viverra, porttitor nibh sed, dictum libero.
      </p>

      <p>
      Nullam congue eu orci ut lacinia. Integer vel lectus diam. Nam eget lectus et ante condimentum egestas nec vitae tortor. In in vulputate ante, in consequat nunc. Proin consequat fringilla mi, at bibendum ligula elementum eleifend. Ut bibendum ligula leo, sodales vestibulum augue viverra sed. Cras euismod nibh odio, ut congue nisi hendrerit vitae. Etiam lacinia sagittis dignissim. Fusce ut eros congue, aliquet lectus a, tristique lectus. Mauris hendrerit, quam ut convallis molestie, nulla nisi imperdiet ante, sed condimentum lacus leo nec metus. Nam efficitur neque sed turpis ornare, nec mattis quam facilisis. Praesent egestas, enim et facilisis pharetra, lorem sem dapibus odio, dignissim finibus dui odio eget dui. Pellentesque vel odio venenatis, blandit risus in, mollis elit. Suspendisse vehicula laoreet tincidunt. Vestibulum pretium ligula sit amet augue commodo, ut porttitor ligula interdum.
      </p>


                    {{partial 'key-facts--default'}}

      <p>
      Nullam vehicula tortor tellus, a interdum lorem lobortis sed. Integer bibendum arcu nec elit dapibus, non feugiat odio gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque pretium enim nec quam dictum interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean diam nisi, finibus ac lacus nec, bibendum congue magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eget placerat nisi.
      </p>

      <p>
      Aliquam dapibus feugiat elit, sit amet facilisis leo egestas id. Aliquam nibh nisl, euismod vitae mauris sit amet, mollis fringilla velit. Mauris et tempus arcu, at bibendum arcu. Phasellus elementum urna sed dolor finibus, rhoncus gravida dui sagittis. Duis volutpat scelerisque nisi, quis lacinia massa vehicula sed. Proin a metus quis eros tempor finibus. Proin tempus venenatis risus. Nulla dictum vestibulum dictum. Integer consectetur tristique libero, eget sollicitudin enim placerat eget. Sed non arcu sed eros imperdiet facilisis.
      </p>

      <p>
      Praesent vel mollis risus, at feugiat risus. Vestibulum id efficitur magna, efficitur dignissim augue. Aenean quis neque sit amet urna feugiat faucibus. Curabitur mauris ante, consequat a blandit vitae, rhoncus sed mauris. Cras dui sapien, ullamcorper ac consectetur sit amet, suscipit eu urna. Vivamus vel ex cursus, blandit metus vehicula, vulputate odio. Aenean auctor felis nisl, et consequat ante finibus semper. Suspendisse dapibus quam eu lectus luctus tincidunt. Donec at sapien nec mauris tincidunt egestas. Vestibulum dignissim a lorem eu finibus. In a ex velit.
      </p>
    </div>
  </div>
</div>

<div class="container container--padded-vertical">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      {{partial 'ai-accordion'}}
    </div>
  </div>
</div>

<div class="container container--padded-vertical">
  <div class="grid">
    {{partial 'share'}}
  </div>
</div>


<div class="container--wide">

  <h2 class="heading-block--main">
    Contenidos relacionados
  </h2>

  <div class="grid">

    {{#each iter_2}}
    <article class="search-item--1/2">
      <a class="search-item__content--bottom" href="accion.html">
        <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
        </noscript>
        <div class="search-item__cell--bottom">
          <ul class="tags--cell">
            <li class="tags__item--solo"><span class="tags__icon--news">Nigeria</span></li>
          </ul>
          <p class="search-item__title--tape"><span class="heading--tape--small">Stop torture</span></p>
        </div>
      </a>
    </article>
    {{/each}}


    {{#each iter_3}}
    <article class="search-item--1/3">
      <a class="search-item__content--bottom" href="accion.html">
        <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_615_415_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455, https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_321_455_hi 2x"></div>
        <noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/air_2014_5.jpg?preset=fixed_391_415" alt="" class="responsive__img" />
        </noscript>
        <div class="search-item__cell--bottom">
          <ul class="tags--cell">
            <li class="tags__item--solo"><span class="tags__icon--news">Nigeria</span></li>
          </ul>
          <p class="search-item__title--tape"><span class="heading--tape--small">Stop torture</span></p>
        </div>
      </a>
    </article>
    {{/each}}


  </div>
</div>

<div class="container--full-bleed container--highlight">
      <div class="container--highlight__content">
        <h2 class="heading-block--main">Cómo puedo ayudar</h2>
        {{partial 'ai-como-ayudar'}}
      </div>
    </div>
