---
title: Grid
layout: default
grids: ['', 'ai-c--wide', 'ai-c--padded-vertical', 'ai-c--padded-vertical-double', 'ai-c--bordered-top', 'ai-c--bordered-bottom', 'ai-c--bg']
iter_3: [1,2,3]
composite_grids:
  bg:
    outer: ai-c--bleed-wide ai-c--bg
    inner: ai-c--wide ai-c--padded
---
<div class="ai-breadcrumbs-container">
  <nav class="ai-breadcrumbs">
    <div class="ai-breadcrumbs__item">
      <a class="ai-breadcrumbs__link" href="home.html">Inicio</a>
    </div>
    <div class="ai-breadcrumbs__item">
      <a class="ai-breadcrumbs__link" href="actua.html">Actúa</a>
    </div>
    <div class="ai-breadcrumbs__item ai-breadcrumbs__item--current">
      <span class="ai-breadcrumbs__link ai-breadcrumbs__link--current">{{title}}</span>
    </div>
  </nav>
</div>

<h1 class="ai-page-title">{{title}}</h1>




{{#each grids as |grid|}}
<div class="ai-c {{grid}}">
  <pre>ai-c {{grid}}</pre>

  {{partial 'grid-test'}}
  <div class="row">
    <div class="col-xs-4">
      <div class="ai-c {{grid}}">
        <pre>ai-c {{grid}}</pre>
        {{partial 'grid-test'}}
      </div>
    </div>
    <div class="col-xs-4">
      <div class="ai-c {{grid}} ai-c--bg ai-c--padded">
        <pre>ai-c {{grid}}</pre>
        {{partial 'grid-test'}}
      </div>
    </div>
    <div class="col-xs-4">
      <div class="ai-c {{grid}} ai-c--bg ai-c--padded">
        <pre>ai-c {{grid}}</pre>
        {{partial 'grid-test'}}
      </div>
    </div>
  </div>
</div>
{{/each}}


{{#each composite_grids as |grid|}}
<div class="ai-c {{grid.outer}}">
  <div class="ai-c {{grid.inner}}">
    <pre>ai-c {{grid.outer}}</pre>

    {{partial 'grid-test'}}
    <div class="row">
      <div class="col-xs-4">
        <div class="ai-c {{grid.outer}}">
          <div class="ai-c {{grid.inner}}">
            <pre>ai-c {{grid.outer}}</pre>
            {{partial 'grid-test'}}
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="ai-c {{grid.outer}}">
          <div class="ai-c {{grid.inner}}">
            <pre>ai-c {{grid.outer}}</pre>
            {{partial 'grid-test'}}
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="ai-c {{grid.outer}}">
          <div class="ai-c {{grid.inner}}">
            <pre>ai-c {{grid.outer}}</pre>
            {{partial 'grid-test'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}

