---
title: Home
layout: default
iter_4: [1,2,3,4]
---

{{partial 'carousel--featured'}}
{{partial 'ai-cta-2col'}}

<div class="container--wide container--padded-vertical-double">

  <h2 class="heading-block--main">
    También te puede interesar
  </h2>
  {{partial 'ca-list--3col'}}
</div>


<div class="container--wide">

  <h2 class="heading-block--main">Últimas noticias</h2>

  <div class="grid">
    {{#each iter_4}}
    <article class="search-item--bordered">
      <a class="search-item__content" href="#">
        <ul class="tags">
          <li class="tags__item"><span class="tags__icon--news">Noticia</span></li>
        </ul>
        <!-- <p class="tags__item--faux">Iraq</p> -->
        <time class="search-item__date">8 de Agosto de 2015</time>
        <h1 class="search-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices est nulla, a suscipit diam facilisis ac posuere.</h1>
      </a>
    </article>
    {{/each}}
  </div>
</div>

<div class="container--wide container--txt-center container--padded-vertical">
    <a class="btn-secondary--sm" href="">Ver más noticias</a>
</div>



{{partial 'mock-buenas-noticias'}}
{{partial 'image-block--activista'}}
