---
title: Style guide
layout: default
---
    <div class="grid patternlibrary">

        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h1 class="h1--caps ltr">Amnesty International Pattern Library</h1>

                <p>Jump to:</p>
                <ul>
                  <li><a href="home.html">Home</a></li>
                  <li><a href="actua.html">Actua</a></li>
                  <li><a href="accion.html">Accion</a></li>
                  <li><a href="testjs.html">Test JS</a></li>
                </ul>

                <h2 class="h2 ltr">Colours</h2>
                <div class="grid">
                    <div class="col col--1/2 col--1/3--md colours__yellow">
                        <code>$c-yellow: #FF0;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__black">
                        <code>$c-black: #000;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__grey--darkest">
                        <code>$c-grey--darkest: #1A1A1A;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__grey--darker">
                        <code>$c-grey--darker: #262626;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__grey--dark">
                        <code>$c-grey--dark: #363636;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__grey--mid">
                        <code>$c-grey--mid: #B6B6B6;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__grey--light">
                        <code>$c-grey--light: #DADADA;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__grey--lighter">
                        <code>$c-grey--lighter: #E5E5E5;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__grey--lightest">
                        <code>$c-grey--lightest: #F7F7F7;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__white">
                        <code>$c-white: #FFF;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__twitter">
                        <code>$c-twitter: #55ACEE;</code>
                    </div>
                    <div class="col col--1/2 col--1/3--md colours__error">
                        <code>$c-error: #CB5757;</code>
                    </div>
                </div>

                <h2 class="h2 ltr">Fonts</h2>
                <p>
                    <code>$f-default: sans-serif;</code><br>
                    <span class="f-default ltr-display">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </p>
                <p>
                    <code>$f-default--rtl: Tahoma, sans-serif;</code><br>
                    <span class="f-default">دارت وباءت مقاومة هذه مع, يعبأ تعديل ترتيب قهر هو, أي وتردي مسؤولية الغازية أخر.</span>
                </p>
                <p>
                    <code>$f-title: 'TradeGothicLT-BoldCondTwenty', 'HelveticaNeue-CondensedBold', 'Franklin Gothic Medium', sans-serif;</code><br>
                    <span class="f-title ltr-display">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </p>
                <p>
                    <code>$f-title--rtl: 'FrutigerLTArabic-77BlackCn', 'HelveticaNeue-CondensedBold', 'Franklin Gothic Medium', Tahoma, sans-serif;</code><br>
                    <span class="f-title--rtl">دارت وباءت مقاومة هذه مع, يعبأ تعديل ترتيب قهر هو, أي وتردي مسؤولية الغازية أخر.</span>
                </p>

                <h2 class="h2 ltr">Transitions</h2>
                <p class="hover"><strong>Fade:</strong> Duration: 0.25s</p>

                <h2 class="h2 ltr">Headings</h2>
                <p>Note: Heading levels are not the same as header elements. E.g. A <code>&lt;h2&gt;</code> element may not always have a font size of 38px.</p>
                <div class="en">
                  <p class="h1">Heading <a href="">level 1</a> <span class="h-size">3.5rem / 49px</span></p>
                  <p class="h2">Heading <a href="">level 2</a> <span class="h-size">2.75rem / 38px</span></p>
                    <p class="h3">Heading level 3 <span class="h-size">2rem / 28px</span></p>
                    <p class="h4">Heading level 4 <span class="h-size">1.7rem / 24px</span></p>
                    <p class="h5">Heading level 5 <span class="h-size">1.5rem / 21px</span></p>
                    <p class="h6">Heading level 6 <span class="h-size">1rem / 14px</span></p>
                </div>
                <div class="ar">
                    <p class="h1 f-title--rtl">تتجه مستوى 1 <span class="h-size">3.5rem / 49px</span></p>
                    <p class="h2 f-title--rtl">تتجه مستوى 2 <span class="h-size">2.75rem / 38px</span></p>
                    <p class="h3 f-title--rtl">تتجه مستوى 3 <span class="h-size">2rem / 28px</span></p>
                    <p class="h4 f-title--rtl">تتجه مستوى 4 <span class="h-size">1.7rem / 24px</span></p>
                    <p class="h5 f-title--rtl">تتجه مستوى 5 <span class="h-size">1.5rem / 21px</span></p>
                    <p class="h6 f-title--rtl">تتجه مستوى 6 <span class="h-size">1rem / 14px</span></p>
                </div>

                <h2 class="h2 ltr">Paragraph</h2>
                <p class="en">A paragraph (from the Greek <a href="">paragraphos, "to write beside" or "written beside"</a>) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
                <p class="ar">
                    تتلقى منظمة العفو الدولية دعمها المالي بشكل رئيسي من الأفراد والأشخاص العاديين من مختلف مناطق العالم.

                    وتتيح هذه المساهمات المالية الشخصية والتبرعات غير المشروطة للمنظمة الحفاظ على استقلاليتها الكاملة عن الحكومات والأيديولوجيات السياسية، والمصالح الاقتصادية والدينية.

                    يتم تمويلنا من قبل الأعضاء وأناس مثلكم. فنحن مستقلون عن أي أيديولوجية سياسية، أو مصالح اقتصادية أو دينية. وليس هناك حالة خارج إطار الأمل.
                </p>

                <h2 class="h2 ltr">Buttons</h2>

                <div class="grid">
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-primary--sm--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-secondary--sm--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-secondary--alt--sm--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-secondary--on-black--sm--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-tertiary--sm--fullwidth"><span class="en">small</span><span class="ar">صغير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <div class="transparent--bg">
                            <button class="btn-transparent--sm--fullwidth dark-bg"><span class="en">small</span><span class="ar">صغير</span></button>
                        </div>
                    </div>

                    <div class="col--stacked col--1/6--md">
                        <button class="btn-primary--md--fullwidth"><span class="en">medium</span><span class="ar">متوسط</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-secondary--md--fullwidth"><span class="en">medium</span><span class="ar">متوسط</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-secondary--alt--md--fullwidth"><span class="en">medium</span><span class="ar">متوسط</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-secondary--on-black--md--fullwidth"><span class="en">medium</span><span class="ar">متوسط</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <button class="btn-tertiary--md--fullwidth"><span class="en">medium</span><span class="ar">متوسط</span></button>
                    </div>
                    <div class="col--stacked col--1/6--md">
                        <div class="transparent--bg">
                            <button class="btn-transparent--md--fullwidth dark-bg"><span class="en">medium</span><span class="ar">متوسط</span></button>
                        </div>
                    </div>

                    <div class="col--stacked col--1/6--lg">
                        <button class="btn-primary--lg--fullwidth"><span class="en">large</span><span class="ar">كبير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--lg">
                        <button class="btn-secondary--lg--fullwidth"><span class="en">large</span><span class="ar">كبير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--lg">
                        <button class="btn-secondary--alt--lg--fullwidth"><span class="en">large</span><span class="ar">كبير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--lg">
                        <button class="btn-secondary--on-black--lg--fullwidth"><span class="en">large</span><span class="ar">كبير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--lg">
                        <button class="btn-tertiary--lg--fullwidth"><span class="en">large</span><span class="ar">كبير</span></button>
                    </div>
                    <div class="col--stacked col--1/6--lg">
                        <div class="transparent--bg">
                            <button class="btn-transparent--lg--fullwidth dark-bg"><span class="en">large</span><span class="ar">كبير</span></button>
                        </div>
                    </div>
                </div>

                <h2 class="h2 ltr">Blockquote</h2>
                <blockquote class="en">
                    A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.
                </blockquote>
                <blockquote class="ar">
                    منظمة العفو الدولية حركة عالمية تضم ما يربو على 7 مليون شخص يأخذون الظلم على محمل شخصي. ونحن نناضل من أجل عالم يتمتع فيه الجميع بحقوق الإنسان.
                </blockquote>

                <h2 class="h2 ltr">Inline elements</h2>
                <p><a href="#">This is a text link</a></p>
                <p><strong>Strong is used to indicate strong importance</strong></p>
                <p><em>This text has added emphasis</em></p>
                <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
                <p>The <i>i element</i> is text that is set off from the normal text</p>
                <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
                <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
                <p><s>This text has a strikethrough</s></p>
                <p>Superscript<sup>&reg;</sup></p>
                <p>Subscript for things like H<sub>2</sub>O</p>
                <p><small>This small text is small for for fine print, etc.</small></p>
                <p>
                    Abbreviation:
                    <abbr title="HyperText Markup Language">HTML</abbr>
                </p>
                <p>Keybord input: <kbd>Cmd</kbd></p>
                <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
                <p><cite>This is a citation</cite></p>
                <p>The <dfn>dfn element</dfn> indicates a definition.</p>
                <p>The <mark>mark element</mark> indicates a highlight</p>
                <p><code>This is what inline code looks like.</code></p>
                <p>
                    <samp>This is sample output from a computer program</samp>
                </p>
                <p>
                    The
                    <var>variable element</var>, such as
                    <var>x</var>
                    =
                    <var>y</var>
                </p>

                <h2 class="h2 ltr">Horizontal rule</h2>
                <hr>

                <h2 class="h2 ltr">Unordered list</h2>
                <ul>
                  <li>This is a <a href="">list item</a> in an unordered list</li>
                    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
                    <li>
                        Lists can be nested inside of each other
                        <ul>
                            <li>This is a nested list item</li>
                            <li>This is another nested list item in an unordered list</li>
                        </ul>
                    </li>
                    <li>This is the last list item</li>
                </ul>

                <h2 class="h2 ltr">Ordered list</h2>
                <ol>
                    <li>This is a <a href="">list item</a> in an ordered list</li>
                    <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
                    <li>
                        Lists can be nested inside of each other
                        <ol>
                            <li>This is a nested list item</li>
                            <li>This is another nested list item in an ordered list</li>
                        </ol>
                    </li>
                    <li>This is the last list item</li>
                </ol>

                <h2 class="h2 ltr">Logo</h2>
                <div class="clearfix">
                    <p class="logo" style="position: relative;"><span class="logo__link">Amnesty International</span></p>
                </div>

                <h2 class="h2 ltr">Components</h2>

                <h3 class="h3 ltr">Article meta</h3>
                <div class="grid">
                    <div class="col col--5/12--lg">
<p class="meta">
 <strong>Peter Benenson</strong>,
			 England
 <time datetime="2015-02-27T11:37:01">27 February 2015, 00:00 UTC</time>
</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid patternlibrary">

        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Header image (rich media)</h3>
            </div>
        </div>
    </div>

  {{partial 'image-header--rich-media'}}

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Header image (rich media w/ video)</h3>
            </div>
        </div>
    </div>


  {{partial 'image-header--rich-media-video'}}



    <div class="grid patternlibrary">

        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Header image (landing)</h3>
            </div>
        </div>
    </div>

    {{partial 'image-header--landing'}}

    <div class="grid patternlibrary">

        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Header image (content)</h3>
            </div>
        </div>
    </div>


  {{partial 'image-header--content'}}

    <div class="grid patternlibrary">

        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Header image (article)</h3>
            </div>
        </div>
    </div>

  {{partial 'image-header--article'}}


    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Image Gallery</h3>
            </div>
        </div>
    </div>

    {{partial 'carousel--image-gallery'}}

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Carousel</h3>
            </div>
        </div>
    </div>

    {{partial 'carousel--carousel'}}

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Carousel with slide titles</h3>
            </div>
        </div>
    </div>

    {{partial 'carousel--slide-titles'}}

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Featured carousel with autoscroll</h3>
            </div>
        </div>
    </div>

    {{partial 'carousel--featured'}}

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Tweet this now</h3>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/12--md">
          <div class="col__content">
            {{partial 'tweet'}}
          </div>
        </div>
    </div>

    <div class="grid">
      <div class="col col--1/12--md not--sm"></div>
      <div class="col col--5/6--md">
        <div class="col__content">
          <h3 class="h3 ltr">Social share box</h3>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col col--1/12--md not--sm"></div>
      <div class="col col--5/12--md">
        <div class="col__content">
          <aside class="ai-social-share-block">
            <div class="ai-social-share-block__title">
              ¡Compártelo!
            </div>
            <div class="ai-social-share-block__text">
              Si llegamos a más personas conseguiremos nuestro objetivo
            </div>
            <div class="ai-social-share-block__icon-block">
              <a class="ai-social-share-block__twitter" href="">
                Twitter
              </a>
              <a class="ai-social-share-block__facebook" href="">
                Facebook
              </a>
            </div>
          </aside>
        </div>
      </div>
    </div>


    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Quote</h3>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/12--md">
          <div class="col__content">
            {{partial 'quote'}}
          </div>
        </div>
    </div>

    {{partial 'locations'}}

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
          <div class="col__content">
            <h3 class="h3 ltr">Block Navigation</h3>
            {{partial 'blocknav'}}
          </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Location office</h3>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--1/3--md">
            <div class="col__content">
<h1 class="heading--sub heading--uppercase"><span class="visually-hidden">Contact Information: </span>Amnesty International in Algeria</h1>
    <p data-ga="event,Navigation,click,Address"><strong>Address:</strong><br />10, rue Mouloud ZADI (face au 113 rue Didouche Mourad) Alger Centre, 16004 ALGER; Mail: BP 377 RP 16004 ALGER</p>
	<p>
			<strong>Phone:</strong>
0021321738738<br />
					<strong>Fax:</strong>
00000000000	</p>

            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Key country facts</h3>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--1/3--md">
            <div class="col__content">
<div class="grid--bg">
  <div class="col">
    <div class="col__content--padded border--bottom">
      <h2 class="heading--sub heading--in-padded centered--sm heading--uppercase">Key Country Facts</h2>
      <dl class="in-padded">
          <dt>Head of State:</dt>
          <dd>Abdelaziz Bouteflika</dd>
          <dd class="dd__break" aria-hidden="true"></dd>
                  <dt>Head of Government:</dt>
          <dd>Abdelmalek Sellal</dd>
          <dd class="dd__break" aria-hidden="true"></dd>
                                          <dt>Population:</dt>
          <dd>39,500,000</dd>
          <dd class="dd__break" aria-hidden="true"></dd>
              </dl>
    </div>
  </div>
</div>

            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Regional overview</h3>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--1/3--md">
            <div class="col__content">
<h3 class="h3 heading--uppercase"></h3>
<h3 class="h3 heading--uppercase">Middle East and North Africa</h3>
<p>Millions of people continue to suffer the effects of armed conflict and horrendous abuses in Syria, Iraq and Gaza.</p>
<a href="#" class="btn-secondary--md--fullwidth">View Region</a>

            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Recently Added</h3>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--1/3--md">
            <div class="col__content">
<div class="col__content--right print-hidden">
  {{partial 'recently-added'}}
</div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Action (default)</h3>
            </div>
        </div>
    </div>

    <div class="container--padded">
<div class="container--padded">
  {{partial 'action--default'}}
</div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Action (alternate)</h3>
            </div>
        </div>
    </div>

    <div class="container--padded">
<div class="container--padded">
  {{partial 'action--alternate'}}
</div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Cookie Message</h3>
            </div>
        </div>
    </div>

    <div class="container--wide">
        <div class="grid">
            <div class="col">
                <div class="col__content">
                  {{partial 'cookies'}}
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Three Call To Action</h3>
            </div>
        </div>
    </div>

    <!-- Review usage as it violates BEM -->
    <div class="grid">
        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
<div class="container">
  <div class="grid cta__cols">
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">Heading</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Lorem ipsum" class="cta__img lazyload print-hidden">
          </picture>
          <noscript>
            <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150" alt="Lorem ipsum" class="cta__img">
          </noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150" alt="Lorem ipsum" class="cta__img print-shown">
          <p class="cta__exlplain">Lorem ipsum dolar sit amet</p>
          <a class="visually-hidden" href="#">See more</a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">Heading</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Lorem ipsum" class="cta__img lazyload print-hidden">
          </picture>
          <noscript>
            <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150" alt="Lorem ipsum" class="cta__img">
          </noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150" alt="Lorem ipsum" class="cta__img print-shown">
          <p class="cta__exlplain">Lorem ipsum dolar sit amet</p>
          <a class="visually-hidden" href="#">See more</a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <h3 class="cta__subtitle">Heading</h3>
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150_hi 2x">
            <!--[if IE 9]></video><![endif]-->
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Lorem ipsum" class="cta__img lazyload print-hidden">
          </picture>
          <noscript>
            <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150" alt="Lorem ipsum" class="cta__img">
          </noscript>
          <img src="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_150" alt="Lorem ipsum" class="cta__img print-shown">
          <p class="cta__exlplain">Lorem ipsum dolar sit amet</p>
          <a class="visually-hidden" href="#">See more</a>
        </div>
      </div>
  </div>
  <div class="grid cta__cols--bottom">
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="#" aria-hidden="true">
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_30, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_30_hi 2x">
              <!--[if IE 9]></video><![endif]-->
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Lorem ipsum" class="cta__icon lazyload">
            </picture>
            See more
          </a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="#" aria-hidden="true">
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_30, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_30_hi 2x">
              <!--[if IE 9]></video><![endif]-->
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Lorem ipsum" class="cta__icon lazyload">
            </picture>
            See more
          </a>
        </div>
      </div>
      <div class="col col--1/3--md">
        <div class="col__content">
          <a class="cta__button" href="#" aria-hidden="true">
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source data-srcset="https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_30, https://www.amnesty.org/media/patternlibrary/people-on-the-move.png?preset=proportional_30_hi 2x">
              <!--[if IE 9]></video><![endif]-->
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Lorem ipsum" class="cta__icon lazyload">
            </picture>
            See more
          </a>
        </div>
      </div>
  </div>
</div>

            </div>
        </div>
    </div>

    <div class="grid patternlibrary">

        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Full Screen Image</h3>
            </div>
        </div>
    </div>

    {{partial 'image-block--full-screen-image'}}

    <div class="grid patternlibrary">

        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Full Screen Content</h3>
            </div>
        </div>
    </div>

    {{partial 'image-block--full-screen-content'}}

    <div class="grid patternlibrary">

        <div class="col col--1/12--md not--sm"></div>
        <div class="col col--5/6--md">
            <div class="col__content">
                <h3 class="h3 ltr">Counter</h3>
            </div>
        </div>
    </div>

<div class="container--full-bleed">
    <div class="grid">
      {{partial 'counter'}}
    </div>
</div>


    <div class="container--wide">
        <div class="grid">
            <div class="col">
                <div class="col__content">
                    <h3 class="h3 ltr">Facts and Figures (Default)</h3>

                    {{partial 'key-facts--default'}}

                    <h3 class="h3 ltr">Facts and Figures (Image)</h3>
                    {{partial 'key-facts--image'}}

                    <h3 class="h3 ltr">Facts and Figures (Progressive)</h3>
                    {{partial 'key-facts--progressive'}}

                    <h3 class="h3 ltr">Facts and Figures (Ampersand)</h3>
                    {{partial 'key-facts--ampersand'}}

                    <h3 class="h3 ltr">Search results</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container--wide">
      {{partial 'search-results'}}
    </div>

    <div class="grid patternlibrary">
      <div class="col col--1/4--md col--1/3--lg not--sm"></div>
      <div class="col col--1/2--md col--1/3--lg">
        {{partial 'pagination'}}
      </div>
      <div class="col col--1/3--md not--sm"></div>
    </div>
