---
title: Noticias
layout: default
iter_16: [1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6]
iter_select: ['Option 1', 'Option 2', 'Option 3']
---
<div class="ai-breadcrumbs-container">
  <nav class="ai-breadcrumbs">
    <div class="ai-breadcrumbs__item">
      <a class="ai-breadcrumbs__link" href="home.html">Inicio</a>
    </div>
    <div class="ai-breadcrumbs__item">
      <a class="ai-breadcrumbs__link" href="en-que-estamos.html">En qué estamos</a>
    </div>
    <div class="ai-breadcrumbs__item ai-breadcrumbs__item--current">
      <span class="ai-breadcrumbs__link ai-breadcrumbs__link--current">{{title}}</span>
    </div>
  </nav>
</div>

<h1 class="ai-page-title">{{title}}</h1>

  <div class="filters print-hidden">
    <div class="filters__container">
      <div class="grid">
        <div class="col">
          <button class="filters-btn" data-filter-btn=""><span data-filters-show="">Show</span><span class="visually-hidden">/</span><span data-filters-hide="" style="display: none;">Hide</span> Filters</button>
        </div>
        <input type="hidden" name="contentType" value="2561">

        <div class="filter col col--1/2--md">
          {{partial 'dropdown'}}
        </div>

        <div class="filter col col--1/2--md">
          {{partial 'dropdown'}}
        </div>
      </div>
    </div>
  </div>

  <div class="container--full-bleed print-hidden">
    <div class="grid filters-secondary-container">
      <div class="col">
        <div>

          <div class="filters-active " data-filters-active="">
            <h2 class="heading--h6 heading--in-padded filters-active--is-empty">My filters</h2>
            <ul class="tags">
              <li class="tags__item filters-active--is-empty"><a href="/en/latest/news/" class="tags__link--clear" data-filter-remove-all="">Clear all</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col col--1/2--md">
        <h2 class="result-count-heading heading--sub heading--in-padded" data-results-heading=""></h2>

        <div class="col__content col__content--no-vertical-padding">
          <p class="tags__item">
          <a href="#" class="tags__link--rss" target="_blank" data-rss-link="">Suscríbete</a>
          </p>
        </div>
      </div>
      <div class="col col--1/2 col--1/4--md"></div>
      <div class="col col--1/2 col--1/4--md">
      </div>
    </div>

  </div>



<div class="container--full-bleed">
  <div class="grid--bg search-results">

    {{#each iter_16}}
    <article class="search-item">
      <a href="#" class="search-item__link">
        <div class="search-item__image">
          <div class="responsive--bg lazyload search-item__image-block" data-bgset="https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_391_228, https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_391_228_hi 2x [(min-width: 640px)] | https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_615_208, https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_615_208_hi 2x [(min-width: 346px)] | https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_321_208, https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_321_208_hi 2x"></div>
          <noscript>
            <img src="https://www.amnesty.org/media/patternlibrary/air_2014_12.jpg?preset=fixed_391_228" alt="" class="responsive__img" />
          </noscript>
          <ul class="tags--bottom">
            <li class="tags__item--solo"><span class="tags__icon--blog">Noticia</span></li>
          </ul>
        </div>
        <div class="search-item__content--half">
          <time class="search-item__date">8 de Agosto de 2015</time>
          <p class="search-item__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices est nulla, a suscipit diam facilisis ac posuere.</p>
        </div>
      </a>
    </article>
    {{/each}}

  </div>
</div>

<div class="grid patternlibrary" id="a-pagination">
      <div class="col col--1/4--md col--1/3--lg not--sm"></div>
      <div class="col col--1/2--md col--1/3--lg">
        {{partial 'pagination'}}
      </div>
      <div class="col col--1/3--md not--sm"></div>
    </div>
